= simple_form_for(@participant) do |f|
  / = f.error_notification

  .form-inputs
    = f.input :vk_id
    = f.input :image_src
    / = f.association :city
    = f.input :city_id, :collection => City.all.asc("name")
    = f.input :text
    = f.input :enabled, as: :radio_buttons 

  .form-actions
    = f.button :submit
