%p#notice= notice

%p
  %b Vk:
  = @participant.vk_id
%p
  %b Image src:
  = @participant.image_src
%p
  %b City:
  = @participant.city.name if participant.city
%p
  %b Text:
  = @participant.text
%p
  %b Enabled:
  = @participant.enabled

= link_to 'Edit', edit_participant_path(@participant)
\|
= link_to 'Back', participants_path
